/* Kontakt */

.page-title h1 {
    text-shadow: 0px 0px 10px #999999;
    color: var(--primary);
    font-size: 3rem;
  }
  .description h2 {
    font-size: 18px;
  }
  
  .info-background {
    background: #f8f8f9;
    padding: 2%;
  }
  
  .col-text p {
    color: var(--primary);
    font-size: 18px;
  }
  
  .col-title h3 {
    font-size: 22px;
  }
  
  .col-wrapper {
    border-right: 1px solid #60616438;
    padding: 35px 0px 30px 0px;
  }
  
  .google-map {
    overflow: hidden;
    height: 500px;
    
  }
  .google-map-home {
    overflow: hidden;
    height: 100%;
    width: 100%;
    eight: 500px;
  }
  #map {
    height: 400px;
  }
  
  .form-background {
    background: #f8f8f9;
  }
  
  .form-bg {
    background: #ffffff;
  }
  .form-shaddow {
    box-shadow: 0 3px 6px grey;
  }
  
  .info-bg {
    background: var(--primary);
  }
  
  .info-title h3 {
    color: white;
  }
  .info-sub {
    display: inherit;
  }
  .inherit {
    display: inherit;
  }
  .info-sub > h3 {
    color: white;
    font-size: 18px;
  }
  .info-icon {
    margin-right: 10%;
  }
  .info-icon i {
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  
  .text-area {
    min-height: 100px;
  }
  
  .form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(211, 209, 209, 0.411);
  }
  .form-group label {
    opacity: 70%;
  }
  
  .form-group {
    margin-bottom: 5%;
  }
  
  .form-button {
    background: var(--primary);
  }
  .form-button .btn {
    color: white;
  }
  .form-button .btn {
    color: white;
  }
  
  .hero-section {
    height: 60vh;
  }
  
  .hero-section img {
    opacity: 80%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Form Valid */ 

.wpcf7-not-valid-tip{
    font-size: 15px  !important;
}
.wpcf7-response-output{
    text-align: center;
}