/*footer*/
.footerNoda .col-sm h5 {
  color: #333399;
}

.footerNoda {
  height: 25vh;
  width: 100%;
}

.line {
  height: 20px;
  border-bottom: 2px solid #2d2c2f;
  width: auto;
}
.line-height {
  height: 20%;
}

/*index*/
/* .video {
  height: 75vh;
  background-color: blue;
} */
.contactBtn {
  background-color: #333399;
  color: #f8f8f9;
  border: 0;
  box-shadow: 0px 0px 15px #333399;
  letter-spacing: 0.1rem;
  max-height: 80%;
}
.main-body {
  height: 20vh;
}
