/*footer*/

.footerNoda {
  height: 25vh;
  width: 100%;
}

.line {
  height: 1px;
  border-bottom: 2px solid #8685889d;
  width: auto;
  max-width: 40%;
}
.line-height {
  height: 20%;
}

.contactBtn  {
  background-color: #333399;
  color: #f8f8f9 ;
  border: 0;
 /*  box-shadow: 0px 0px 15px #333399; */
  letter-spacing: 0.1rem;
  max-height: 80%;
}
.contactBtn h2{
  color:white !important;
}
.main-body {
  height: auto;
}
.main-body .homeImg img {
  width: 100%;
  height: 100%;
}
.main-body .homeImg {
  width: 50%;
  height: 60vh;
}
.under {
  margin-top: 20vh;
}
.serviceLink {
  color: #333399;
  font-weight: 700;
}

.testimonials {
  background-color: #f8f8f9;
  height:60vh;
 
}
.testimonials h2 {
  color: #f8f8f9;
}

.location-container{
  overflow:hidden;
  background-color: #333399;

}

.location {
  background-color: #333399;

}
.location h2,
.location h3 {
  color: #f8f8f9;
}
.location p {
  color: #f8f8f9;
}

/* about */

.abouth5 {
  color: #333399;
}

.aboutImg img {
  width: 90%;
  height: 60%;
}

/*service */

.serviceBtns button {
  background-color: rgba(1, 1, 1, 0);
  border: 0;
  padding: 0;
}
