/* Typography  */
h1 {
    font-weight: bold;
    /* text-shadow: 0px 0px 10px #999999; */
    color: var(--primary);
    font-size: 2.5rem;
  }
  h2{
      font-size:1.25rem;
      color:var(--primary);
  }
  h3,
  h4 {
    font-weight: 600;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0.1rem;
    /* text-shadow: 0px 0px 10px #999999; */
  }
  p {
    font-weight: 300;
  }
  