/* Video BG */

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: cover;
  opacity: 80%;
}

.introduction-section {
  background: var(--primary);
}
.intro-parall {
  background-image: url("https://images.unsplash.com/photo-1482731215275-a1f151646268?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-position: center;

  background-attachment: fixed;

  background-size: cover;

  height: 400px;
  opacity: 90%;
  background-size: 100% auto;
}

.main-title h2 {
  color: white;
}
.picture-wrapper-main {
  max-width: 450px;
}
.service-main-image-wrapper {
  width: 450px;
}

/* Services line  */

.line {
  height: 1px;
  border-bottom: 2px solid #8685889d;
  width: auto;
  max-width: 40%;
}
.line-height {
  height: 20%;
}

/* Hero Section  */

.hero-section-2 {
  height: 75vh;
}

.hero-section-2 img {
  opacity: 80%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.google-map-home {
  overflow: hidden;
  height: 400px;
}

/* Landing page container */

.icon-phone {
  color: var(--jet-black);
  font-size: 1.5rem;
  margin-bottom: 3%;
}
.phone-number h2 {
  color: var(--primary);
  font-weight: bold;
}

.icons-text-intro {
  color: white;
  font-size: 1rem;
}

.text-title-intro {
  color: white;
  font-size: 1.5rem;
}

/* Location */

.location-container {
  overflow: hidden;
  background-color: var(--primary);
}

.location {
  background-color: var(--primary);
}

.location h2 {
  color: white;
  font-weight: 400;
}
.location p {
  color: #f8f8f9;
}
@media (max-width: 576px) {
  .intro-test {
    background-attachment: fixed;
    height: 80vh;
    background-size: cover;
  }
}
