 /* Video BG */
 
 #myVideo {
    position: absolute; 
    right: 0;
    top:20px;
    height:780px;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background:cover; 
    opacity:90%;
  }
 
  .introduction-section{
    background: #f8f8f9;
}

/* Video WTF need to be fixed THE PROBLEM PROPABLY */

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
   */

  .hero-section-2 {
    height: 70vh;
  }
  
  .hero-section-2 img {
    opacity: 80%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


 
 
 /* Landing page container */

 .icon-phone{
    color:var(--primary);
    font-size: 2rem;
}
.phone-number h2{
    color:var(--jet-black);
    font-weight: bold;
}